name: Deploy Full Stack Application

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build-azure-functions:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

  build-web:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

  build-android:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

  build-ios:
    runs-on: macos-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

  deploy-functions:
    environment:
      name: azure-production
    runs-on: ubuntu-latest
    needs: build-azure-functions
    
    steps:
      - name: Download Azure Functions artifact
        uses: actions/download-artifact@v4
        with:
          name: azure-functions-artifact
          path: ./publish
  
  deploy-web:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build-web
    
    steps:
      - name: Download Web artifact
        uses: actions/download-artifact@v4
        with:
          name: web-artifact
          path: ./publish

  deploy-android:
    environment:
      name: play-store
    runs-on: ubuntu-latest
    needs: build-android
    
    steps:
      - name: Download Android artifact
        uses: actions/download-artifact@v4
        with:
          name: android-artifact
          path: ./publish

  deploy-ios:
    environment:
      name: app-store
    runs-on: macos-latest
    needs: build-ios
    
    steps:
      - name: Download iOS artifact
        uses: actions/download-artifact@v4
        with:
          name: ios-artifact
          path: ./publish
